{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-0">
        <h1>About us</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/imagen_barco.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}